/******** Descriptive Color Variables ********/
/******** Descriptive Color Variables ********/
html {
  scroll-behavior: smooth;
  margin: 0; }

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Poppins', sans-serif; }

* {
  box-sizing: border-box; }

/********* Landing Page *********/
.landing-page {
  height: 100vh;
  background-image: url(../img/homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 55px;
  background-color: #252525;
  background-blend-mode: multiply; }

h1 {
  color: #5B5B5B;
  margin-top: 0;
  font-size: 20px;
  font-weight: 500; }

p {
  color: #FFFFFF;
  font-weight: 300; }

/******** Descriptive Color Variables ********/
h2 {
  color: #5B5B5B;
  margin-top: 0;
  font-size: 20px; }

/******** Navigation Bar *********/
nav {
  letter-spacing: 2px;
  font-size: 12px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #FFFFFF;
  text-align: center; }
  nav ul {
    width: 72%;
    padding: 0;
    margin: 0;
    margin-right: 155px;
    display: inline-block;
    list-style: none;
    transition: all 300ms ease-in-out; }
  nav .nav-item {
    color: grey;
    font-size: 15px;
    background-color: #eeeeee00;
    border: none;
    border-radius: 10px;
    padding: 15px 8px; }
    nav .nav-item:hover {
      color: #E69286; }
  nav li {
    text-transform: uppercase;
    width: auto;
    font-size: 0.8em;
    display: inline-block;
    transition: all 300ms ease-in-out; }
  nav .search-container {
    float: right;
    height: 30px;
    margin-left: -280px; }
    nav .search-container button {
      float: right;
      padding: 0px 10px;
      margin: 14px auto;
      height: 25px;
      background: #ddd;
      font-size: 10px;
      border: none;
      cursor: pointer;
      background-color: #FFFFFF;
      color: #E69286;
      border: 1px solid #A4A5A5;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px; }
    nav .search-container input {
      padding: 6px 15px;
      margin: 14px auto;
      height: 25px;
      font-size: 12px;
      border: none;
      border: 1px solid #A4A5A5;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      background-color: #FFFFFF; }
  nav .logo {
    vertical-align: middle;
    float: left;
    height: 53px;
    padding-left: 10px; }

/******** Buttons ********/
.btn {
  width: 16%;
  font-size: 1rem;
  padding: 10px 10px;
  background-color: #E69286;
  border: none;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  font-family: 'Poppins', sans-serif; }
  .btn:hover {
    padding: 10px 50px 10px 15px;
    width: 20%; }
  .btn:hover:after {
    content: "\00bb";
    color: #FFFFFF;
    padding-left: 10px;
    transition: 0.5s; }
  .btn a {
    text-decoration: none;
    color: #FFFFFF; }
  .btn .arrow-right {
    font-size: 15px;
    padding-left: 15px;
    display: none; }
    .btn .arrow-right:hover {
      display: block; }

.revert-btn {
  border: 1px solid #FFFFFF;
  background-color: transparent; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #E69286;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px; }
  #myBtn #myBtn:hover {
    background-color: #555; }
  #myBtn .fa-angle-double-up {
    color: #FFFFFF;
    padding: 10px; }

/**** line styles ****/
.lines {
  list-style: none;
  width: 45%;
  font-size: 0;
  margin: 0 0 0 -35px; }
  .lines li {
    display: inline-block;
    width: 7%;
    height: 2.5px;
    margin-left: -5px; }
  .lines li:nth-child(1) {
    background: #E69286; }
  .lines li:nth-child(2) {
    background: rgba(91, 91, 91, 0.363);
    height: 1px;
    margin-bottom: 0.6px;
    width: 30%; }

/******** Descriptive Color Variables ********/
/********* Intro *************/
.intro {
  text-align: center;
  padding: 290px 370px;
  margin: 0;
  font-size: 15px; }
  .intro .code-4-ct {
    color: #FFFFFF;
    font-size: 3.5em; }
  .intro p {
    font-size: 1.2em; }
  .intro button {
    align-content: center;
    margin: 15px 0 0 0; }
  .intro .revert-btn {
    margin-left: 20px; }

/***** Who We are Section *****/
.who-we-are {
  height: auto;
  margin: 130px 170px; }
  .who-we-are .who-we-are-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 13px;
    margin-top: 10px; }
  .who-we-are .grid-item h2 {
    font-size: 17px;
    font-weight: 500;
    margin: 30px 0 40px 0; }
  .who-we-are .grid-item p {
    color: #A4A5A5;
    font-size: 16px; }
  .who-we-are .grid-item .btn {
    margin-top: 20px;
    color: #5B5B5B; }
    .who-we-are .grid-item .btn a {
      color: #A4A5A5; }
  .who-we-are .grid-item .revert-btn {
    border: 1px solid #A4A5A5; }
    .who-we-are .grid-item .revert-btn:hover:after {
      content: "\00bb";
      color: #A4A5A5;
      padding-left: 30px;
      transition: 0.5s; }
  .who-we-are .title-who-we-are {
    color: #5B5B5B;
    margin-top: 0;
    font-size: 20px; }
  .who-we-are .image-container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-gap: 25px; }
    .who-we-are .image-container img {
      width: 100%;
      height: 100%; }

/******** Coding, Problem solving and Career Guidance styling *******/
.skill-icons {
  height: auto;
  background-color: #121212;
  font-size: 13px; }
  .skill-icons .skill-icons-grid-container {
    padding: 100px 170px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .skill-icons .skill-icons-grid-container .icon-item {
      text-align: center; }
      .skill-icons .skill-icons-grid-container .icon-item h2 {
        color: #FFFFFF; }
      .skill-icons .skill-icons-grid-container .icon-item .icon {
        margin: 0;
        font-size: 50px;
        color: #E69286; }

/******** Courses Section *******/
.courses-section {
  height: auto;
  margin: 100px 170px;
  /**** Grid Container for Course content styling ****/ }
  .courses-section p {
    color: #A4A5A5;
    margin: 30px 20% 40px 0; }
  .courses-section .our-exciting-courses {
    color: #5B5B5B;
    margin-top: 0;
    font-size: 20px; }
  .courses-section .course-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 20px;
    padding: 60px 0; }
    .courses-section .course-grid-container .course-item:nth-child(3) {
      grid-column-start: 3;
      grid-row-start: 1;
      grid-row-end: 3; }
    .courses-section .course-grid-container .course-item img {
      width: 100%;
      height: 100%; }

/******** Meet Our Team Section *******/
.meet-our-team {
  margin: 100px 170px; }
  .meet-our-team p {
    padding: 10px 0 0 0;
    color: #A4A5A5;
    font-weight: 100; }
  .meet-our-team .team-grid-container {
    padding: 40px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px; }
    .meet-our-team .team-grid-container .grid-item-team {
      padding: 30px 0 0 0;
      width: 100%;
      height: 300px; }
      .meet-our-team .team-grid-container .grid-item-team .team-name {
        margin: 0;
        font-weight: 200;
        font-size: 1.2em; }
      .meet-our-team .team-grid-container .grid-item-team .team-position {
        margin: 0;
        color: #A4A5A5;
        font-weight: 100;
        font-size: 1.1em;
        padding: 0 0 20px 0;
        border-bottom: 1px solid; }
      .meet-our-team .team-grid-container .grid-item-team .team-social-icons {
        padding: 30px 0 0 0; }
        .meet-our-team .team-grid-container .grid-item-team .team-social-icons a {
          text-decoration: none;
          color: grey;
          font-size: 16px;
          padding: 0 16px 0 0;
          transition: all 300ms ease-in-out; }
          .meet-our-team .team-grid-container .grid-item-team .team-social-icons a:hover {
            color: #E69286; }
    .meet-our-team .team-grid-container .member {
      background-image: url(../img/person1.jpg);
      background-size: cover; }

/*# sourceMappingURL=main.css.map */
