/******** Descriptive Color Variables ********/
/******** Descriptive Color Variables ********/
html {
  scroll-behavior: smooth;
  margin: 0; }

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Poppins', sans-serif; }

* {
  box-sizing: border-box; }

/********* Landing Page *********/
.landing-page {
  height: 100vh;
  background-image: url(../img/homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 55px;
  background-color: #252525;
  background-blend-mode: multiply; }

h1 {
  color: #FFFFFF; }

p {
  color: #FFFFFF; }

/******** Descriptive Color Variables ********/
/******** Navigation Bar *********/
nav {
  letter-spacing: 2px;
  font-size: 12px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #FFFFFF;
  text-align: center; }
  nav ul {
    width: 72%;
    padding: 0;
    margin: 0;
    margin-right: 155px;
    display: inline-block;
    list-style: none;
    transition: all 300ms ease-in-out; }
  nav .nav-item {
    color: grey;
    font-size: 15px;
    background-color: #eeeeee00;
    border: none;
    border-radius: 10px;
    padding: 15px 8px; }
    nav .nav-item:hover {
      color: #E49085; }
  nav li {
    text-transform: uppercase;
    width: auto;
    font-size: 0.8em;
    display: inline-block;
    transition: all 300ms ease-in-out; }
  nav .search-container {
    float: right;
    height: 30px;
    margin-left: -280px; }
    nav .search-container button {
      float: right;
      padding: 0px 10px;
      margin: 14px auto;
      height: 25px;
      background: #ddd;
      font-size: 10px;
      border: none;
      cursor: pointer;
      background-color: #FFFFFF;
      color: #E49085;
      border: 1px solid #5555555d;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px; }
    nav .search-container input {
      padding: 6px 15px;
      margin: 14px auto;
      height: 25px;
      font-size: 12px;
      border: none;
      border: 1px solid #5555555d;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      background-color: #FFFFFF; }
  nav .logo {
    vertical-align: middle;
    float: left;
    height: 53px;
    padding-left: 10px; }

/******** Buttons ********/
.btn {
  width: 25%;
  font-size: 1rem;
  padding: 15px 10px;
  background-color: #E49085;
  border: none;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  font-family: 'Poppins', sans-serif; }
  .btn:hover {
    padding: 15px 50px 15px 15px;
    width: 230px; }
  .btn:hover:after {
    content: "\00bb";
    color: #FFFFFF;
    padding-left: 30px;
    transition: 0.5s; }
  .btn a {
    text-decoration: none;
    color: #FFFFFF; }
  .btn .arrow-right {
    font-size: 15px;
    padding-left: 15px;
    display: none; }
    .btn .arrow-right:hover {
      display: block; }

.revert-btn {
  border: 1px solid #FFFFFF;
  background-color: transparent; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #E49085;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px; }
  #myBtn #myBtn:hover {
    background-color: #555; }
  #myBtn .fa-angle-double-up {
    color: #FFFFFF;
    padding: 10px; }

/**** line styles ****/
.lines {
  list-style: none;
  width: 100%;
  font-size: 0;
  margin: 0 0 0 -35px; }
  .lines li {
    display: inline-block;
    width: 12%;
    height: 2.5px;
    margin-left: -5px; }
  .lines li:nth-child(1) {
    background: #E49085; }
  .lines li:nth-child(2) {
    background: rgba(91, 91, 91, 0.363);
    height: 1px;
    margin-bottom: 0.6px;
    width: 40%; }

/******** Descriptive Color Variables ********/
/********* Intro *************/
.intro {
  text-align: center;
  padding: 250px 370px;
  margin: 0;
  font-size: 15px; }
  .intro h1 {
    font-size: 3.5em;
    font-weight: 600; }
  .intro p {
    font-size: 1.2em; }
  .intro button {
    align-content: center;
    margin: 15px 0 0 0; }
  .intro .revert-btn {
    margin-left: 20px; }

/***** Who We are Section *****/
.who-we-are {
  height: 60vh;
  margin: 100px 190px; }
  .who-we-are .who-we-are-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 13px;
    margin-top: 10px; }
  .who-we-are .grid-item h2 {
    font-size: 17px;
    font-weight: 500;
    margin: 30px 0 40px 0; }
  .who-we-are .grid-item p {
    color: #5B5B5B;
    font-size: 16px; }
  .who-we-are .grid-item .btn {
    margin-top: 20px;
    color: #5B5B5B; }
    .who-we-are .grid-item .btn a {
      color: #5555555d; }
  .who-we-are .grid-item .revert-btn {
    border: 1px solid #5555555d; }
    .who-we-are .grid-item .revert-btn:hover:after {
      content: "\00bb";
      color: #5555555d;
      padding-left: 30px;
      transition: 0.5s; }
  .who-we-are .title-who-we-are {
    color: #5B5B5B;
    margin-top: 0;
    font-size: 20px; }
  .who-we-are .image-container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-gap: 25px; }
    .who-we-are .image-container img {
      width: 100%;
      height: 100%; }

/******** Descriptive Color Variables ********/
/******** Navigation Bar *********/
nav {
  letter-spacing: 2px;
  font-size: 12px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #FFFFFF;
  text-align: center; }
  nav ul {
    width: 72%;
    padding: 0;
    margin: 0;
    margin-right: 155px;
    display: inline-block;
    list-style: none;
    transition: all 300ms ease-in-out; }
  nav .nav-item {
    color: grey;
    font-size: 15px;
    background-color: #eeeeee00;
    border: none;
    border-radius: 10px;
    padding: 15px 8px; }
    nav .nav-item:hover {
      color: #E49085; }
  nav li {
    text-transform: uppercase;
    width: auto;
    font-size: 0.8em;
    display: inline-block;
    transition: all 300ms ease-in-out; }
  nav .search-container {
    float: right;
    height: 30px;
    margin-left: -280px; }
    nav .search-container button {
      float: right;
      padding: 0px 10px;
      margin: 14px auto;
      height: 25px;
      background: #ddd;
      font-size: 10px;
      border: none;
      cursor: pointer;
      background-color: #FFFFFF;
      color: #E49085;
      border: 1px solid #5555555d;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px; }
    nav .search-container input {
      padding: 6px 15px;
      margin: 14px auto;
      height: 25px;
      font-size: 12px;
      border: none;
      border: 1px solid #5555555d;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      background-color: #FFFFFF; }
  nav .logo {
    vertical-align: middle;
    float: left;
    height: 53px;
    padding-left: 10px; }

/******** Buttons ********/
.btn {
  width: 25%;
  font-size: 1rem;
  padding: 15px 10px;
  background-color: #E49085;
  border: none;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  font-family: 'Poppins', sans-serif; }
  .btn:hover {
    padding: 15px 50px 15px 15px;
    width: 230px; }
  .btn:hover:after {
    content: "\00bb";
    color: #FFFFFF;
    padding-left: 30px;
    transition: 0.5s; }
  .btn a {
    text-decoration: none;
    color: #FFFFFF; }
  .btn .arrow-right {
    font-size: 15px;
    padding-left: 15px;
    display: none; }
    .btn .arrow-right:hover {
      display: block; }

.revert-btn {
  border: 1px solid #FFFFFF;
  background-color: transparent; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #E49085;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px; }
  #myBtn #myBtn:hover {
    background-color: #555; }
  #myBtn .fa-angle-double-up {
    color: #FFFFFF;
    padding: 10px; }

/**** line styles ****/
.lines {
  list-style: none;
  width: 100%;
  font-size: 0;
  margin: 0 0 0 -35px; }
  .lines li {
    display: inline-block;
    width: 12%;
    height: 2.5px;
    margin-left: -5px; }
  .lines li:nth-child(1) {
    background: #E49085; }
  .lines li:nth-child(2) {
    background: rgba(91, 91, 91, 0.363);
    height: 1px;
    margin-bottom: 0.6px;
    width: 40%; }

/*# sourceMappingURL=main.css.map */
