@import 'partials/_variables';

html {
    scroll-behavior: smooth;
    margin: 0;
} 

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

/********* Landing Page *********/

.landing-page {
    height: 100vh;
    background-image: url(../img/homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 55px;
    background-color: $color4;
    background-blend-mode: multiply;
}

h1 {
    color: $color2;
}

p {
    color: $color2;
}

