@import 'partials/_variables';

/********* Intro *************/

.intro {
    text-align: center;
    padding: 25em 32em;
    font-size: 15px;    

    .code-4-ct {
        color: $color2;
        font-size: 3.125em;
    }

    p {
        font-size: 0.906em;
        line-height: 1.79;
    }

    button {
        align-content: center;
        margin: 15px 0 0 0;
    }

    .revert-btn {
        margin-left: 20px;
    }
}

/***** Who We are Section *****/

.who-we-are {
    height: auto;
    padding: 120px 375px;

    .who-we-are-grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
    }

    .grid-item {

        h2 {
            font-size: 1em;
            font-weight: 500;
            margin: 20px 0 40px 0;
        }

        p {
            color: $color4;
            font-size: 0.875em;
            line-height: 1.86;
        }

        .btn {
            color: $color3;

            a {
                color: $color4;
            }
        }

        .revert-btn {
            border: 1px solid $color6;
            margin: 50px 0 0 0;

            &:hover:after {
                content: "\00bb";
                color: $color4;
                transition: 0.5s;
            }
        }
    }
    
    .title-who-we-are {
        color: $color3;
        margin-top: 0;
        font-size: 1.5em;
    }

    .image-container {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        grid-gap: 30px;

        .image-item {
            width: 16.875em;
            height: 13.313em;
        }

        img {
            width: 16.875em;
            height: 13.313em;
        }
    }
}

/******** Coding, Problem solving and Career Guidance styling *******/

.skill-icons {
    height: auto;
    background-color: $color5;

    .skill-icons-grid-container {
        padding: 120px 375px;
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .icon-item {
            text-align: center;

            h2 {
                color: $color2;
                font-size: 1.25em
            }
            
            .icon {
                margin: 0;
                font-size: 2.5em;
                color: $color1;
            }

            p {
                font-size: 0.875em;
                font-weight: 300;
            }
        }
    }
}

/******** Courses Section *******/

.courses-section {
    height: auto;
    padding: 100px 375px;

    p {
        color: $color4;
        margin: 30px 210px 102px 0;
        font-size: 0.875em;
    }

    .our-exciting-courses {
        color: #5B5B5B;
        margin-top: 0;
    }

    /**** Grid Container for Course content styling ****/

    .course-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-gap: 20px;

        .course-item {
            width: 100%;
            height: 100%;
            
            &:nth-child(3) {
                grid-column: 3 / 4;
                grid-row: 1 / 3;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/******** Meet Our Team Section *******/

.meet-our-team {
    margin: 0 375px 120px 375px;

    .text {
        padding: 10px 10em 0 0;
    }

    p {
        padding: 10px 0 0 0;
        color: $color4;
        font-weight: 100;
        font-size: 0.875em;
        line-height: 1.86;
    }

    .team-grid-container {
        padding: 40px 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;

        .grid-item-team {
            // padding: 15px 0 0 0;

            .team-name {
                margin: 0;
                font-weight: 500;
                font-size: 1em;
            }

            .team-position {
                margin: 0 40px 0 0;
                color: $color4;
                font-weight: 100;
                font-size: 0.875em;
                padding: 0 0 1em 0;
                border-bottom: 1px solid $color6;
            }

            .team-social-icons {
                padding: 15px 0 0 0;

                a {
                    text-decoration: none;
                    color: grey;
                    font-size: 0.875em;
                    padding: 0 16px 0 0;
                    transition: all 300ms ease-in-out;

                    &:hover {
                        color: $color1;
                    }
                }
            }

        }

        .member {
            background-image: url(../img/person1.jpg);
            background-size: cover;
            width: 100%;
            height: 15em;
        }

        .bio {
            padding: 10px 0 0 0;
        }


    }

}

/******** Counter Section *******/

.counter-section {
    background-color: $color5;
    width: 100%;
    height: 300px;

    .stat-grid-container {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
        padding: 110px 490px;

        .stat-counter-item {
            color: $color2;

            .count {
                font-size: 1.875em;
                // padding: 0 0 0 20px;
            }

            p {
                font-size: 1em;
                margin: 0;
                // padding: 0 0 0 20px;
            }

            hr {
                border: 2px solid #E69286;
                margin: 0 200px 0 0;
            }
        }

        
    }
}

/******** Subscribe Section *******/

.subscribe-section {
   background: $color2;
   padding: 72px 170px;
   text-align: center;

   .fa-paper-plane {
        color: $color1;
        padding: 0 1.250em 0 0;
    }

    p {
        color: $color3;
        font-weight: 600;
        font-size: 1.250em;
    }

    .small-text {
        font-size: 0.875em;
        color: $color4;
        font-weight: 300;
    }

    .email-container {
        height: 30px;

        button {
            height: 40px;
            width: 100px;
            font-size: 1em;
            cursor: pointer;
            background-color: $color1;
            color: $color2;
            border: 1px solid $color1;
            border-radius: 3px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
        }

        input {
            padding: 6px 15px;
            font-size: 0.938em;
            border: none;
            background: #F9F9F9;
            height: 40px;
            width: 370px;
            font-weight: 300;
            border-radius: 3px;
            color: $color3;
            font-family: 'Poppins', sans-serif;
            
        }

        
    }
}

/******** Sponsor Logo Carousel Section *******/

.logo-section {
    background: $color5;
    height: 200px;
    padding: 120px 375px;
}


@media only screen and (max-width: 2000px) {
    .who-we-are {
        padding: 0 375px 120px 375px;
    }
  }
