@import 'partials/_variables';

/********* Intro *************/

.intro {
    text-align: center;
    padding: 17em 23em;
    font-size: 15px;    

    .code-4-ct {
        color: $color2;
        font-size: 3.125em;
    }

    p {
        font-size: 0.906em;
        line-height: 1.79;
    }

    button {
        align-content: center;
        margin: 15px 0 0 0;
    }

    .revert-btn {
        margin-left: 20px;
    }
}

/***** Who We are Section *****/

.who-we-are {
    height: auto;
    padding: 120px 170px;

    .who-we-are-grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        margin-top: 10px;
    }

    .grid-item {

        h2 {
            font-size: 1em;
            font-weight: 500;
            margin: 20px 0 40px 0;
        }

        p {
            color: $color4;
            font-size: 0.875em;
        }

        .btn {
            margin-top: 60px;
            color: $color3;

            a {
                color: $color4;
            }
        }

        .revert-btn {
            border: 1px solid $color6;

            &:hover:after {
                content: "\00bb";
                color: $color4;
                padding-left: 30px;
                transition: 0.5s;
            }
        }
    }
    
    .title-who-we-are {
        color: $color3;
        margin-top: 0;
        font-size: 1.5em;
    }

    .image-container {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        grid-gap: 30px;

        .image-item {
            width: 16.875em;
            height: 13.313em;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

/******** Coding, Problem solving and Career Guidance styling *******/

.skill-icons {
    height: auto;
    background-color: $color5;

    .skill-icons-grid-container {
        padding: 90px 170px;
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .icon-item {
            text-align: center;

            h2 {
                color: $color2;
                font-size: 1.25em
            }
            
            .icon {
                margin: 0;
                font-size: 2.5em;
                color: $color1;
            }

            p {
                font-size: 0.875em;
                font-weight: 300;
            }
        }
    }
}

/******** Courses Section *******/

.courses-section {
    height: auto;
    padding: 120px 170px;

    p {
        color: $color4;
        margin: 30px 210px 102px 0;
        font-size: 0.875em;
    }

    .our-exciting-courses {
        color: #5B5B5B;
        margin-top: 0;
    }

    /**** Grid Container for Course content styling ****/

    .course-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-gap: 20px;

        .course-item {
            width: 100%;
            height: 100%;
            
            &:nth-child(3) {
                grid-column: 3 / 4;
                grid-row: 1 / 3;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/******** Meet Our Team Section *******/

.meet-our-team {
    margin: 0 170px 120px 170px;

    p {
        padding: 10px 0 0 0;
        color: $color4;
        font-weight: 100;
        font-size: 0.875em;
        line-height: 1.86;
    }

    .team-grid-container {
        padding: 40px 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;

        .grid-item-team {
            padding: 15px 0 0 0;
            width: 270px;
            height: 250px;

            .team-name {
                margin: 0;
                font-weight: 500;
                font-size: 1em;
            }

            .team-position {
                margin: 0 40px 0 0;
                color: $color4;
                font-weight: 100;
                font-size: 0.875em;
                padding: 0 0 20px 0;
                border-bottom: 1px solid $color6;
            }

            .team-social-icons {
                padding: 15px 0 0 0;

                a {
                    text-decoration: none;
                    color: grey;
                    font-size: 16px;
                    padding: 0 16px 0 0;
                    transition: all 300ms ease-in-out;

                    &:hover {
                        color: $color1;
                    }
                }
            }

        }

        .member {
            background-image: url(../img/person1.jpg);
            background-size: cover;
        }


    }

}

/******** Counter Section *******/

.counter-section {
    background-color: $color5;
    width: 100%;
    height: 300px;
}



