@import 'partials/_variables';

/********* Intro *************/

.intro {
    text-align: center;
    padding: 200px 370px;
    margin: 0;
    font-size: 15px;    

    h1 {
        font-size: 3em;
        font-weight: 600;
    }

    p {
        font-size: 15px;
    }

    button {
        align-content: center;
        margin: 15px 0 0 0;
    }

    .revert-btn {
        margin-left: 20px;
    }
}