@import 'partials/_variables',
        'partials/_base',
        'partials/_components',
        'partials/_layout';


// @media (min-width:768px) and (max-width:1366) {
    
//     .who-we-are {
        
//     }
// }

/***** Contact Page Responsive Build *****/

@media screen and (max-width: 1318px) {
    
    .contact-form-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1168px) {

    main {

        .intro-other {
            padding: 130px 100px 100px
        }
    }

    .desktop {

        .logo {
            float: none;
        }

        ul { 
            width: 100%;

            .nav-item {
                text-align: center;
                margin: auto auto;
            }
        }

        .search-container {
            display: none;
        }
    }
    
    .intro-other {
        padding: 380px 100px 100px
    }

    .contact-form-grid {
        grid-template-columns: 1fr;
    }

    .footer-section {
        
        .footer-grid-container {
            grid-template-columns: 1fr 1fr;
        }

    }

    .copyright {

        .copyright-container {

            .right {
                padding-left: 100px;
            }
        }
    }

    .contact-form-grid {

        .contact-form-item {

            .message {
                width: 100%;
            }
        }
    }

    .footer-section {
        padding: 90px;

        .footer-grid-container {

            .footer-item {
                padding-left: 200px;
            }
        }
    }
}

@media screen and (max-width: 902px) {

    .contact-form-grid {

        .contact-form-item {

            input {
                display: block;
                width: 100%;
            }

            .phone  {
                margin-left: 0;
            }

            .email {
                margin-left: 0;
            }
            
        }
    }

    .footer-section {
        padding: 50px;

        .footer-grid-container {

            .footer-item {
                padding-left: 100px;
            }
        }
    }
}

@media screen and (max-width: 724px) {

    .footer-section {
        padding: 50px;

        .footer-grid-container {
            grid-template-columns: 1fr;

            .footer-item {
                margin: auto auto;
                padding-left: 100px;
            }
        }
    }

    .contact-form-grid {
        display: block;
    }

}

@media screen and (max-width: 881px) {

    .mobile {
        display: block;
    }

    .menu {
        display: block;
    }

    .desktop {
        display: none;
    }
    .who-we-are {

        .who-we-are-grid-container {
            grid-template-columns: auto;
        }
    }

    main {

        .intro-other {
            margin: 0;
            padding: 130px 100px 100px
        }
    }
}

/*** Home Page Responsive  Build ***/

@media screen and (max-width: 1250px) {

    .landing-page {
        background-position-y: 0;

        .intro {
            padding: 15em 29%;
        }
    }
    
    .who-we-are {

        .who-we-are-grid-container {
            grid-template-columns: auto;

            .grid-item {
                
                .btn {
                    margin: 10px 0 0 0;
                }
            }

            .image-container {
                
                .image-item {
                    margin: 0 auto;
                }
            }
        }
    }

    

    .skill-icons .skill-icons-grid-container {
        padding: 120px 100px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:1129px) {

    .counter-section {

        .stat-grid-container {
            grid-gap: 30px;
            padding: 120px 200px;
            grid-template-columns: 0.5fr 0.5fr;

            .counter-item {
                padding: 0 0 0 100px;
            }
        }
    }
}