
/******** Descriptive Color Variables ********/

$color1: #E69286;
$color2: #FFFFFF;
$color3: #5B5B5B;
$color4: #A4A5A5;
$color5: #121212;
$color6: #E8E8E8;

$borderWidth: 7px;
$animationTime: 1.5s;
$border-color-default: #eee;
$border-color-fill: #ffb43e;
$size: 150px;

//Create how many steps
$howManySteps: 10;

